@page
@model IMDBRazorPages.Pages.Titles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title.content_type_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title.content_type_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title.primary_title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title.primary_title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title.original_title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title.original_title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title.is_adult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title.is_adult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title.start_year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title.start_year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title.end_year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title.end_year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title.runtime_minutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title.runtime_minutes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Title.title_id">Edit</a> |
    <a asp-page="./GetTitles">Back to List</a>
</div>
